/*Практика:
1. Создать 4 div-элемента, разного цвета.
Сделать 1 перемещаемый div элемент, в стилях задать ему края (border: 5px solid black;)
При перемещение блока, когда он находится над цветным дивом, закрашивать его в тот же цвет.
Внуть дива при перемещение положить текущую позицию дива

2. Разместить тег video, сделать кнопки управления видео: воспроизвести, пауза, в начало, в конец.
Сделать так, чтобы после 10 секунды воспрозиведения видео, видео остановилось,
под видео появился див с цифрой 5 и через 5 секунд див исчез и видео продолжилось. + дополнительно сделать чтобы на диве 5 отсчитывалось до 1 и при 0 исчезало (обратный отсчет)*/

body {
}

#block {
    border: 5px solid black;
    width: 100px;
    height: 100px;
}

.cont {
    display: inline-block;
    width: 100px;
    height: 100px;
}
#container1 {
    background-color: red;
}
#container2 {
    background-color: green;
}
#container3 {
    background-color: yellow;
}
#container4 {
    background-color: blue;
}